# Cities

In [93]:
import pandas

In [94]:
cities_data_frame = pandas.read_csv("./cities.csv")
cities_data_frame

,country,city,province_state,region,subregion,province_state_level
0,Australia,Sydney,New South Wales,NaN,NaN,state
1,Australia,Melbourne,Victoria,NaN,NaN,state
2,Australia,Brisbane,Queensland,NaN,NaN,state
3,Australia,Perth,Western Australia,NaN,NaN,state
4,Australia,Adelaide,South Australia,NaN,NaN,state
...,...,...,...,...,...,...
311,Vietnam,Sóc Trăng,Sóc Trăng,Southern,Mekong River Delta,province
312,Vietnam,Mỹ Tho,Tiền Giang,Southern,Mekong River Delta,province
313,Vietnam,Trà Vinh,Trà Vinh,Southern,Mekong River Delta,province
314,Vietnam,Vĩnh Long,Vĩnh Long,Southern,Mekong River Delta,province
315,Vietnam,Cần Thơ,Cần Thơ,Southern,Mekong River Delta,province

In [95]:
countries = cities_data_frame["country"].unique()
countries.sort()
print(len(countries))
countries

10

array(['Australia', 'England', 'France', 'Germany', 'Italy',
       'Netherlands', 'New Zealand', 'Spain', 'United States', 'Vietnam'],
      dtype=object)

## Australia

In [96]:
australia_data_frame = cities_data_frame[cities_data_frame["country"] == "Australia"]
australia_data_frame

,country,city,province_state,region,subregion,province_state_level
0,Australia,Sydney,New South Wales,NaN,NaN,state
1,Australia,Melbourne,Victoria,NaN,NaN,state
2,Australia,Brisbane,Queensland,NaN,NaN,state
3,Australia,Perth,Western Australia,NaN,NaN,state
4,Australia,Adelaide,South Australia,NaN,NaN,state
5,Australia,Hobart,Tasmania,NaN,NaN,state
6,Australia,Canberra,Australian Capital Territory,NaN,NaN,territory
7,Australia,Darwin,Northern Territory,NaN,NaN,territory

In [97]:
states = australia_data_frame["province_state"].unique()
states.sort()
print(len(states))
states

8

array(['Australian Capital Territory', 'New South Wales',
       'Northern Territory', 'Queensland', 'South Australia', 'Tasmania',
       'Victoria', 'Western Australia'], dtype=object)

## England

In [98]:
england_data_frame = cities_data_frame[cities_data_frame["country"] == "England"]
england_data_frame

,country,city,province_state,region,subregion,province_state_level
8,England,Reading,Berkshire,South East,NaN,county
9,England,Milton Keynes,Buckinghamshire,South East,NaN,county
10,England,Brighton,East Sussex,South East,NaN,county
11,England,Southampton,Hampshire,South East,NaN,county
12,England,Portsmouth,Hampshire,South East,NaN,county
13,England,Newport,Isle of Wight,South East,NaN,county
14,England,Maidstone,Kent,South East,NaN,county
15,England,Oxford,Oxfordshire,South East,NaN,county
16,England,Guildford,Surrey,South East,NaN,county
17,England,Crawley,West Sussex,South East,NaN,county
18,England,City of London,City of London,London,NaN,county
19,England,London,Greater London,London,NaN,county
20,England,Warrington,Cheshire,North West,NaN,county
21,England,Carlisle,Cumbria,North West,NaN,county
22,England,Manchester,Greater Manchester,North West,NaN,county
23,England,Blackpool,Lancashire,North West,NaN,county
24,England,Liverpool,Merseyside,North West,NaN,county
25,England,Luton,Bedfordshire,East of England,NaN,county
26,England,Cambridge,Cambridgeshire,East of England,NaN,county
27,England,Peterborough,Cambridgeshire,East of England,NaN,county
28,England,Southend-on-Sea,Essex,East of England,NaN,county
29,England,Watford,Hertfordshire,East of England,NaN,county
30,England,Norwich,Norfolk,East of England,NaN,county
31,England,Ipswich,Suffolk,East of England,NaN,county
32,England,Hereford,Herefordshire,West Midlands,NaN,county
33,England,Telford,Shropshire,West Midlands,NaN,county
34,England,Stoke-on-Trent,Staffordshire,West Midlands,NaN,county
35,England,Nuneaton,Warwickshire,West Midlands,NaN,county
36,England,Birmingham,West Midlands,West Midlands,NaN,county
37,England,Wolverhampton,West Midlands,West Midlands,NaN,NaN
38,England,Worcester,Worcestershire,West Midlands,NaN,county
39,England,Bristol,Bristol,South West,NaN,county
40,England,Newquay,Cornwall,South West,NaN,county
41,England,Exeter,Devon,South West,NaN,county
42,England,Bournemouth,Dorset,South West,NaN,county
43,England,Gloucester,Gloucestershire,South West,NaN,county
44,England,Bath,Somerset,South West,NaN,county
45,England,Swindon,Wiltshire,South West,NaN,county
46,England,Kingston upon Hull,East Riding of Yorkshire,Yorkshire and the Humber,NaN,county
47,England,Middlesbrough,North Yorkshire,Yorkshire and the Humber,NaN,county
48,England,Sheffield,South Yorkshire,Yorkshire and the Humber,NaN,county
49,England,Leeds,West Yorkshire,Yorkshire and the Humber,NaN,county
50,England,Lincoln,Lincolnshire,Yorkshire and the Humber,NaN,county
51,England,Derby,Derbyshire,East Midlands,NaN,county
52,England,Leicester,Leicestershire,East Midlands,NaN,county
53,England,Northampton,Northamptonshire,East Midlands,NaN,county
54,England,Nottingham,Nottinghamshire,East Midlands,NaN,county
55,England,Oakham,Rutland,East Midlands,NaN,county
56,England,Durham,County Durham,North East,NaN,county
57,England,Blyth,Northumberland,North East,NaN,county
58,England,Newcastle upon Tyne,Tyne and Wear,North East,NaN,county
59,England,Sunderland,Tyne and Wear,North East,NaN,county

In [99]:
counties = england_data_frame["province_state"].unique()
counties.sort()
print(len(counties))
counties

48

array(['Bedfordshire', 'Berkshire', 'Bristol', 'Buckinghamshire',
       'Cambridgeshire', 'Cheshire', 'City of London', 'Cornwall',
       'County Durham', 'Cumbria', 'Derbyshire', 'Devon', 'Dorset',
       'East Riding of Yorkshire', 'East Sussex', 'Essex',
       'Gloucestershire', 'Greater London', 'Greater Manchester',
       'Hampshire', 'Herefordshire', 'Hertfordshire', 'Isle of Wight',
       'Kent', 'Lancashire', 'Leicestershire', 'Lincolnshire',
       'Merseyside', 'Norfolk', 'North Yorkshire', 'Northamptonshire',
       'Northumberland', 'Nottinghamshire', 'Oxfordshire', 'Rutland',
       'Shropshire', 'Somerset', 'South Yorkshire', 'Staffordshire',
       'Suffolk', 'Surrey', 'Tyne and Wear', 'Warwickshire',
       'West Midlands', 'West Sussex', 'West Yorkshire', 'Wiltshire',
       'Worcestershire'], dtype=object)

## France

In [100]:
france_data_frame = cities_data_frame[cities_data_frame["country"] == "France"]
france_data_frame

,country,city,province_state,region,subregion,province_state_level
60,France,Lyon,Auvergne-Rhône-Alpes,NaN,NaN,metropolitan
61,France,Dijon,Bourgogne-Franche-Comté,NaN,NaN,metropolitan
62,France,Rennes,Bretagne,NaN,NaN,metropolitan
63,France,Orléans,Centre-Val de Loire,NaN,NaN,metropolitan
64,France,Ajaccio,Corse,NaN,NaN,metropolitan
65,France,Strasbourg,Grand Est,NaN,NaN,metropolitan
66,France,Lille,Hauts-de-France,NaN,NaN,metropolitan
67,France,Paris,Île-de-France,NaN,NaN,metropolitan
68,France,Rouen,Normandie,NaN,NaN,metropolitan
69,France,Bordeaux,Nouvelle-Aquitaine,NaN,NaN,metropolitan
70,France,Toulouse,Occitanie,NaN,NaN,metropolitan
71,France,Nantes,Pays de la Loire,NaN,NaN,metropolitan
72,France,Marseille,Provence-Alpes-Côte d'Azur,NaN,NaN,metropolitan
73,France,Basse-Terre,Guadeloupe,NaN,NaN,overseas
74,France,Cayenne,Guyane,NaN,NaN,overseas
75,France,Saint-Denis,La Réunion,NaN,NaN,overseas
76,France,Fort-de-France,Martinique,NaN,NaN,overseas
77,France,Mamoudzou,Mayotte,NaN,NaN,overseas

In [101]:
regions = france_data_frame["province_state"].unique()
regions.sort()
print(len(regions))
regions

18

array(['Auvergne-Rhône-Alpes', 'Bourgogne-Franche-Comté', 'Bretagne',
       'Centre-Val de Loire', 'Corse', 'Grand Est', 'Guadeloupe',
       'Guyane', 'Hauts-de-France', 'La Réunion', 'Martinique', 'Mayotte',
       'Normandie', 'Nouvelle-Aquitaine', 'Occitanie', 'Pays de la Loire',
       "Provence-Alpes-Côte d'Azur", 'Île-de-France'], dtype=object)

## Germany

In [102]:
germany_data_frame = cities_data_frame[cities_data_frame["country"] == "Germany"]
germany_data_frame

,country,city,province_state,region,subregion,province_state_level
78,Germany,Berlin,Berlin,East,NaN,state
79,Germany,Schwerin,Mecklenburg-Vorpommern,East,NaN,state
80,Germany,Dresden,Saxony,East,NaN,state
81,Germany,Magdeburg,Saxony-Anhalt,East,NaN,state
82,Germany,Erfurt,Thuringia,East,NaN,state
83,Germany,Potsdam,Brandenburg,East,NaN,state
84,Germany,Stuttgart,Baden-Württemberg,West,NaN,state
85,Germany,Munich,Bavaria,West,NaN,state
86,Germany,Bremen,Bremen,West,NaN,state
87,Germany,Hamburg,Hamburg,West,NaN,state
88,Germany,Wiesbaden,Hesse,West,NaN,state
89,Germany,Frankfurt am Main,Hesse,West,NaN,state
90,Germany,Hanover,Lower Saxony,West,NaN,state
91,Germany,Düsseldorf,North Rhine-Westphalia,West,NaN,state
92,Germany,Dortmund,North Rhine-Westphalia,West,NaN,state
93,Germany,Mainz,Rhineland-Palatinate,West,NaN,state
94,Germany,Saarbrücken,Saarland,West,NaN,state
95,Germany,Kiel,Schleswig-Holstein,West,NaN,state

In [103]:
states = germany_data_frame["province_state"].unique()
states.sort()
print(len(states))
states

16

array(['Baden-Württemberg', 'Bavaria', 'Berlin', 'Brandenburg', 'Bremen',
       'Hamburg', 'Hesse', 'Lower Saxony', 'Mecklenburg-Vorpommern',
       'North Rhine-Westphalia', 'Rhineland-Palatinate', 'Saarland',
       'Saxony', 'Saxony-Anhalt', 'Schleswig-Holstein', 'Thuringia'],
      dtype=object)

## Italy

In [104]:
italy_data_frame = cities_data_frame[cities_data_frame["country"] == "Italy"]
italy_data_frame

,country,city,province_state,region,subregion,province_state_level
96,Italy,L'Aquila,Abruzzo,NaN,NaN,region
97,Italy,Aosta,Aosta Valley,NaN,NaN,region
98,Italy,Bari,Apulia,NaN,NaN,region
99,Italy,Potenza,Basilicata,NaN,NaN,region
100,Italy,Catanzaro,Calabria,NaN,NaN,region
101,Italy,Naples,Campania,NaN,NaN,region
102,Italy,Bologna,Emilia-Romagna,NaN,NaN,region
103,Italy,Trieste,Friuli-Venezia Giulia,NaN,NaN,region
104,Italy,Rome,Lazio,NaN,NaN,region
105,Italy,Genoa,Liguria,NaN,NaN,region
106,Italy,Milan,Lombardy,NaN,NaN,region
107,Italy,Ancona,Marche,NaN,NaN,region
108,Italy,Campobasso,Molise,NaN,NaN,region
109,Italy,Turin,Piedmont,NaN,NaN,region
110,Italy,Cagliari,Sardinia,NaN,NaN,region
111,Italy,Palermo,Sicily,NaN,NaN,region
112,Italy,Trento,Trentino-South Tyrol,NaN,NaN,region
113,Italy,Florence,Tuscany,NaN,NaN,region
114,Italy,Perugia,Umbria,NaN,NaN,region
115,Italy,Venice,Veneto,NaN,NaN,region

In [105]:
regions = italy_data_frame["province_state"].unique()
regions.sort()
print(len(regions))
regions

20

array(['Abruzzo', 'Aosta Valley', 'Apulia', 'Basilicata', 'Calabria',
       'Campania', 'Emilia-Romagna', 'Friuli-Venezia Giulia', 'Lazio',
       'Liguria', 'Lombardy', 'Marche', 'Molise', 'Piedmont', 'Sardinia',
       'Sicily', 'Trentino-South Tyrol', 'Tuscany', 'Umbria', 'Veneto'],
      dtype=object)

## Netherlands

In [106]:
netherlands_data_frame = cities_data_frame[
    cities_data_frame["country"] == "Netherlands"
]
netherlands_data_frame

,country,city,province_state,region,subregion,province_state_level
116,Netherlands,Assen,Drenthe,NaN,NaN,province
117,Netherlands,Emmen,Drenthe,NaN,NaN,province
118,Netherlands,Lelystad,Flevoland,NaN,NaN,province
119,Netherlands,Almere,Flevoland,NaN,NaN,province
120,Netherlands,Leeuwarden,Friesland,NaN,NaN,province
121,Netherlands,Arnhem,Gelderland,NaN,NaN,province
122,Netherlands,Nijmegen,Gelderland,NaN,NaN,province
123,Netherlands,Groningen,Groningen,NaN,NaN,province
124,Netherlands,Maastricht,Limburg,NaN,NaN,province
125,Netherlands,'s-Hertogenbosch,North Brabant,NaN,NaN,province
126,Netherlands,Eindhoven,Eindhoven,NaN,NaN,province
127,Netherlands,Haarlem,North Holland,NaN,NaN,province
128,Netherlands,Amsterdam,North Holland,NaN,NaN,province
129,Netherlands,Zwolle,Overijssel,NaN,NaN,province
130,Netherlands,Enschede,Overijssel,NaN,NaN,province
131,Netherlands,The Hague,South Holland,NaN,NaN,province
132,Netherlands,Rotterdam,South Holland,NaN,NaN,province
133,Netherlands,Utrecht,Utrecht,NaN,NaN,province
134,Netherlands,Middelburg,Zeeland,NaN,NaN,province
135,Netherlands,Terneuzen,Zeeland,NaN,NaN,province

In [107]:
provinces = italy_data_frame["province_state"].unique()
provinces.sort()
print(len(provinces))
provinces

20

array(['Abruzzo', 'Aosta Valley', 'Apulia', 'Basilicata', 'Calabria',
       'Campania', 'Emilia-Romagna', 'Friuli-Venezia Giulia', 'Lazio',
       'Liguria', 'Lombardy', 'Marche', 'Molise', 'Piedmont', 'Sardinia',
       'Sicily', 'Trentino-South Tyrol', 'Tuscany', 'Umbria', 'Veneto'],
      dtype=object)

## New Zealand

In [108]:
new_zealand_data_frame = cities_data_frame[
    cities_data_frame["country"] == "New Zealand"
]
new_zealand_data_frame

,country,city,province_state,region,subregion,province_state_level
136,New Zealand,Whangārei,Northland,North,NaN,region
137,New Zealand,Auckland,Auckland,North,NaN,region
138,New Zealand,Hamilton,Waikato,North,NaN,region
139,New Zealand,Whakatāne,Bay of Plenty,North,NaN,region
140,New Zealand,Gisborne,Gisborne,North,NaN,region
141,New Zealand,Napier,Hawke's Bay,North,NaN,region
142,New Zealand,Stratford,Taranaki,North,NaN,region
143,New Zealand,Palmerston North,Manawatū-Whanganui,North,NaN,region
144,New Zealand,Wellington,Wellington,North,NaN,region
145,New Zealand,Richmond,Tasman,South,NaN,region
146,New Zealand,Nelson,Nelson,South,NaN,region
147,New Zealand,Blenheim,Marlborough,South,NaN,region
148,New Zealand,Greymouth,West Coast,South,NaN,region
149,New Zealand,Christchurch,Canterbury,South,NaN,region
150,New Zealand,Dunedin,Otago,South,NaN,region
151,New Zealand,Invercargill,Southland,South,NaN,region

In [109]:
regions = new_zealand_data_frame["province_state"].unique()
regions.sort()
print(len(regions))
regions

16

array(['Auckland', 'Bay of Plenty', 'Canterbury', 'Gisborne',
       "Hawke's Bay", 'Manawatū-Whanganui', 'Marlborough', 'Nelson',
       'Northland', 'Otago', 'Southland', 'Taranaki', 'Tasman', 'Waikato',
       'Wellington', 'West Coast'], dtype=object)

## Spain

In [110]:
spain_data_frame = cities_data_frame[cities_data_frame["country"] == "Spain"]
spain_data_frame

,country,city,province_state,region,subregion,province_state_level
152,Spain,Seville,Andalusia,NaN,NaN,community
153,Spain,Zaragoza,Aragon,NaN,NaN,community
154,Spain,Oviedo,Asturias,NaN,NaN,community
155,Spain,Palma,Balearic Islands,NaN,NaN,community
156,Spain,Vitoria-Gasteiz,Basque Country,NaN,NaN,community
157,Spain,Las Palmas,Canary Islands,NaN,NaN,community
158,Spain,Santa Cruz,Canary Islands,NaN,NaN,community
159,Spain,Santander,Cantabria,NaN,NaN,community
160,Spain,Valladolid,Castile and León,NaN,NaN,community
161,Spain,Toledo,Castilla–La Mancha,NaN,NaN,community
162,Spain,Barcelona,Catalonia,NaN,NaN,community
163,Spain,Mérida,Extremadura,NaN,NaN,community
164,Spain,Santiago de Compostela,Galicia,NaN,NaN,community
165,Spain,Logroño,La Rioja,NaN,NaN,community
166,Spain,Madrid,Madrid,NaN,NaN,community
167,Spain,Murcia,Murcia,NaN,NaN,community
168,Spain,Pamplona,Navarre,NaN,NaN,community
169,Spain,Valencia,Valencia,NaN,NaN,community

In [111]:
communities = spain_data_frame["province_state"].unique()
communities.sort()
print(len(communities))
communities

17

array(['Andalusia', 'Aragon', 'Asturias', 'Balearic Islands',
       'Basque Country', 'Canary Islands', 'Cantabria',
       'Castile and León', 'Castilla–La Mancha', 'Catalonia',
       'Extremadura', 'Galicia', 'La Rioja', 'Madrid', 'Murcia',
       'Navarre', 'Valencia'], dtype=object)

## United States

In [112]:
united_states_data_frame = cities_data_frame[
    cities_data_frame["country"] == "United States"
]
united_states_data_frame

,country,city,province_state,region,subregion,province_state_level
170,United States,Huntsville,Alabama,South,East South Central,state
171,United States,Montgomery,Alabama,South,East South Central,state
172,United States,Anchorage,Alaska,West,Pacific,state
173,United States,Juneau,Alaska,West,Pacific,state
174,United States,Phoenix,Arizona,West,Mountain,state
...,...,...,...,...,...,...
248,United States,Olympia,Washington,West,Pacific,state
249,United States,Charleston,West Virginia,South,South Atlantic,state
250,United States,Milwaukee,Wisconsin,Midwest,East North Central,state
251,United States,Cheyenne,Wyoming,West,Mountain,state
252,United States,Charleston,Wyoming,West,Mountain,state

In [113]:
states = united_states_data_frame["province_state"].unique()
states.sort()
print(len(states))
states

50

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

## Vietnam

In [114]:
vietnam_data_frame = cities_data_frame[cities_data_frame["country"] == "Vietnam"]
vietnam_data_frame

,country,city,province_state,region,subregion,province_state_level
253,Vietnam,Điện Biên Phủ,Điện Biên,Northern,Northwest,province
254,Vietnam,Hòa Bình,Hòa Bình,Northern,Northwest,province
255,Vietnam,Lai Châu,Lai Châu,Northern,Northwest,province
256,Vietnam,Lào Cai,Lào Cai,Northern,Northwest,province
257,Vietnam,Sơn La,Sơn La,Northern,Northwest,province
...,...,...,...,...,...,...
311,Vietnam,Sóc Trăng,Sóc Trăng,Southern,Mekong River Delta,province
312,Vietnam,Mỹ Tho,Tiền Giang,Southern,Mekong River Delta,province
313,Vietnam,Trà Vinh,Trà Vinh,Southern,Mekong River Delta,province
314,Vietnam,Vĩnh Long,Vĩnh Long,Southern,Mekong River Delta,province
315,Vietnam,Cần Thơ,Cần Thơ,Southern,Mekong River Delta,province

In [115]:
provinces = vietnam_data_frame["province_state"].unique()
provinces.sort()
print(len(provinces))
provinces

63

array(['An Giang', 'Bà Rịa-Vũng Tàu', 'Bình Dương', 'Bình Phước',
       'Bình Thuận', 'Bình Định', 'Bạc Liêu', 'Bắc Giang', 'Bắc Kạn',
       'Bắc Ninh', 'Bến Tre', 'Cao Bằng', 'Cà Mau', 'Cần Thơ', 'Gia Lai',
       'Hà Giang', 'Hà Nam', 'Hà Nội', 'Hà Tĩnh', 'Hòa Bình', 'Hưng Yên',
       'Hải Dương', 'Hải Phòng', 'Hậu Giang', 'Hồ Chí Minh', 'Khánh Hòa',
       'Kiên Giang', 'Kon Tum', 'Lai Châu', 'Long An', 'Lào Cai',
       'Lâm Đồng', 'Lạng Sơn', 'Nam Định', 'Nghệ An', 'Ninh Bình',
       'Ninh Thuận', 'Phú Thọ', 'Phú Yên', 'Quảng Bình', 'Quảng Nam',
       'Quảng Ngãi', 'Quảng Ninh', 'Quảng Trị', 'Sóc Trăng', 'Sơn La',
       'Thanh Hóa', 'Thái Bình', 'Thái Nguyên', 'Thừa Thiên-Huế',
       'Tiền Giang', 'Trà Vinh', 'Tuyên Quang', 'Tây Ninh', 'Vĩnh Long',
       'Vĩnh Phúc', 'Yên Bái', 'Điện Biên', 'Đà Nẵng', 'Đắk Lắk',
       'Đắk Nông', 'Đồng Nai', 'Đồng Tháp'], dtype=object)