In [74]:
import pandas

In [75]:
raw_data_frame = pandas.read_csv("./raw.csv")
raw_data_frame["country"] = raw_data_frame["country"].apply(lambda x: x.strip())
raw_data_frame[["month_date", "month", "date"]] = raw_data_frame["full_date"].str.split(
    " ", expand=True
)
raw_data_frame["year_month_date"] = (
    raw_data_frame["year"] + "-" + raw_data_frame["month_date"]
)
raw_data_frame = raw_data_frame.drop(columns=["full_date", "month_date"], axis=1)
raw_data_frame = raw_data_frame[
    ["country", "event", "name", "year_month_date", "year", "month", "date"]
]
sorted_raw_data_frame = raw_data_frame.sort_values(by=["year_month_date"])
sorted_raw_data_frame.to_csv("./data.csv", index=False)
sorted_raw_data_frame

,country,event,name,year_month_date,year,month,date
72,Hungary,Foundation of Christian Hungary and Hungary's ...,National Day,1000-08-20,1000,August,20
157,Switzerland,Alliance against the Holy Roman Empire in 1291.,Swiss National Day,1291-08-01,1291,August,1
156,Sweden,Celebrates the election of King Gustav Vasa in...,National Day of Sweden,1523-06-06,1523,June,6
129,Portugal,1640 restoration of Portuguese independence fr...,Restoration of Independence Day,1640-12-01,1640,December,1
173,United States,Declaration of Independence from the Kingdom o...,Independence Day or Fourth of July,1776-07-04,1776,July,4
...,...,...,...,...,...,...,...
54,Eritrea,Independence from Ethiopia in 1993.,Independence Day (Eritrea),1993-05-24,1993,May,24
49,East Timor,Independence from Portugal in 2002 (recognitio...,NaN,2002-05-20,2002,May,20
110,Montenegro,Referendum on independence from Serbia and Mon...,NaN,2006-05-21,2006,May,21
86,Kosovo,Independence from Serbia in 2008. (Only partia...,NaN,2008-02-17,2008,February,17
151,South Sudan,Independence from Sudan in 2011.,NaN,2011-07-09,2011,July,9

In [76]:
days_data_frame = pandas.read_csv("./data.csv")
days_data_frame

,country,event,name,year_month_date,year,month,date
0,Hungary,Foundation of Christian Hungary and Hungary's ...,National Day,1000-08-20,1000,August,20
1,Switzerland,Alliance against the Holy Roman Empire in 1291.,Swiss National Day,1291-08-01,1291,August,1
2,Sweden,Celebrates the election of King Gustav Vasa in...,National Day of Sweden,1523-06-06,1523,June,6
3,Portugal,1640 restoration of Portuguese independence fr...,Restoration of Independence Day,1640-12-01,1640,December,1
4,United States,Declaration of Independence from the Kingdom o...,Independence Day or Fourth of July,1776-07-04,1776,July,4
...,...,...,...,...,...,...,...
178,Eritrea,Independence from Ethiopia in 1993.,Independence Day (Eritrea),1993-05-24,1993,May,24
179,East Timor,Independence from Portugal in 2002 (recognitio...,NaN,2002-05-20,2002,May,20
180,Montenegro,Referendum on independence from Serbia and Mon...,NaN,2006-05-21,2006,May,21
181,Kosovo,Independence from Serbia in 2008. (Only partia...,NaN,2008-02-17,2008,February,17
182,South Sudan,Independence from Sudan in 2011.,NaN,2011-07-09,2011,July,9

In [77]:
years_months = days_data_frame[["year", "month"]].value_counts()
years_months

year  month
1960  August       8
1821  September    5
1991  August       4
      September    4
1962  July         3
                  ..
1932  October      1
1931  December     1
1923  October      1
1919  January      1
2011  July         1
Name: count, Length: 143, dtype: int64

In [78]:
years = days_data_frame["year"].value_counts()
years

year
1960    18
1991    13
1821     8
1918     8
1975     7
        ..
1931     1
1932     1
1943     1
1291     1
2011     1
Name: count, Length: 78, dtype: int64

In [79]:
months = days_data_frame["month"].value_counts()
months

month
August       27
July         24
September    22
October      18
November     17
May          16
December     12
February     12
June         11
January       9
March         8
April         7
Name: count, dtype: int64